.btn-socio {
    background-color: #31bc31;
    border-color: #31bc31;
    color: white;
    font-weight: 600;
}

.btn-socio:hover {
    background-color: #1f6f1f;
    border-color: #1f6f1f;
    color: white;
}

.card {
    border-radius: 15px;
}

h1 {
    color: #1f6f1f;
}

h2 {
    color: #31bc31;
    font-weight: bold;
}