.nombre-producto {
    color:#1b5e20;
}


.talle {

    background:#e8f5e9;
    color:#1b5e20;
    padding:8px 15px;

}


.stock {

    background:#43a047;
    padding:8px 15px;

}



.btn-comprar {

    background:#1b5e20;
    color:white;
    border-radius:20px;
    padding:8px 20px;
    font-weight:bold;


    &:hover {

        background:#43a047;

    }

}


.table-success {

    --bs-table-bg:#f1f8e9;

}